* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0 144px 76px;

}

.link-header {
    width: 87px;
    height: 20px;
    font-size: 24px;
    line-height: 29px;
    color: #17233D;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    background: #6FBF44;
    width: 124px;
    height: 51px;
    border-radius: 10px;
    border: 1px solid #4CB538;
    font-size: 16px;
   font-weight: 500px;
   line-height: 24px;
   color:#FFFFFF;
   cursor: pointer;
}

.logo-image {
    width: 595.18px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}


h1 {
    width: 493px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    color: #161A49; 
}

p {
    width: 493px;
    height: 99px;
    font-weight: 400px;
    font-size: 24px;
    line-height: 29px;
    color:#4B505A;
    margin-top: 50px;
    margin-bottom: 65px;

}

.link-section {
    width: 112px;
    Height: 27px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}